@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

input {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 1024px) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 43%;
  }
}
