.socials {
    align-items: center;
    padding: 60px;
    background: #E6E6E6;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.socials>div>img{
    margin:0px 8px ;
}

.socials>img {
    margin: 10px;
    height: 28px;
}

@media all and (max-width:415px){
    .socials{
        display: flex;
        flex-direction: column;
    }
    .socials>img {
        margin: 0px;
        height: 24px;
    }
}