.first-body {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: -10vw;
  }
  
  .phone {
    width: 50vw;
    height: 45vw;
    position: relative;
    z-index: 1;
  }
  
  .phone-container{
    width: 40vw;
  }
  
  .description {
    width: 60vw;
    padding: 0rem 5rem;
  }
  
  .description > p:nth-child(1) {
    font-family: "Bubblegum Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 2.8vw;
    line-height: 4.2rem;
    color: #c7b196;
  }
  
  .description > p:nth-child(3) {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 2.1vw;
    line-height: 3rem;
    color: #000000;
  }
  
  /* second div  */
  
  .second-div {
    background-color: #c7b196;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10rem 1rem;
    height: 40vw;
  }
  
  
  .list {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 4vw 4vw 4vw 8vw;
    font-family: "Bubblegum Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 4.2rem;
  }
  .list > p {
    border-bottom: 0.2rem solid black;
    margin-left: 0.2vw;
    padding: 2rem;
  }
  
  .disc {
    width: 24vw;
    height: 22vw;
  }
  
  /* third div  */
  .third-div {
    background-color: #f5f1ed;
    display: grid;
    /* align-items: center; */
    /* justify-content: center; */
    grid-template-columns: 25vw 25vw 25vw;
    gap: 5vw;
    height: 40vw;
  }
  
  .third-div .image-container {
    position: relative;
    padding: 0rem;
    margin-left: 10vw;
    margin-top: 15rem;
  }
  
  .second-div .image-container {
    position: relative;
    z-index: 1;
    margin-right: -10rem;
  }
  
  .image {
    width: 20vw;
    height: 20vw;
    box-shadow: -3.5rem -3.5rem 0rem #ba8e78;
    margin-right: -1rem;
    padding: 0rem;
  }
  
  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20vw;
    width: 20vw;
    background-color: #00000084;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.8rem;
    display: flex;
    align-items: center;
    text-align: center;
  
    /* colors/white */
  
    color: #ffffff;
  }
  
  .image-container:hover .overlay-text {
    opacity: 1;
  }
  
  /* .image{
      width: 20vw;
      height: 24vw;
  } */
  
  @media (max-width: 600px) {
    .third-div {
      grid-template-columns: 1fr;
      height: auto;
      padding: 50px;
      align-items: center;
      justify-content: center;
      gap: 70px;
    }
  
    .third-div .image-container {
      margin: auto;
    }
  
    .image {
      width: 35vw;
      height: 35vw;
    }
  
    .phone {
      width: 200px;
      height: 200px;
      position: relative;
      z-index: 1;
    }
  
    .phone-container{
      width: 30vw;
    }
    .description{
      width: 60vw;
      margin-left: 5vw;
    }
  
    .description > p:nth-child(1) {
      font-family: "Bubblegum Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 2.8vw;
      line-height: 2.8vw;
      color: #c7b196;
    }
    
    .description > p:nth-child(3) {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 1.8vw;
      line-height: 2.8vw;
      color: #000000;
    }
  
    .list {
      /* position: absolute; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      padding: 1vw 2vw 1vw 3vw;
      font-family: "Bubblegum Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 1.8vw;
      line-height: 4.2rem;
      margin-left: 8vw;
      width: 40vw;
      height: 35vw;
    }
    .list > p {
      border-bottom: 0.2rem solid black;
      margin-left: 0.2vw;
      padding: 0vw;
    }
  }